$white: #ffffff;
$off-white: #f9fafb;
$light-gray: #d2d6db;
$dark-gray: #525252;
$black: #171717;
$blue: #4338ca;

$text-sm: 12px;
$text-base: 16px;
$text-xl: 20px;

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(142deg, $off-white, $light-gray );
}

#profile-card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .profile-card-container, .profile-card-info, .profile-card-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-card-container {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 428px;
    padding: 24px 16px;
    gap: 40px;

    .profile-card-info {
      &_profile-picture {
        width: 64px;
        height: 64px;
        margin-bottom: 24px;
      }

      &_name {
        font-size: $text-xl;
        font-weight: $font-medium;
        color: $black;
        margin-bottom: 4px;
      }

      &_occupation {
        color: $dark-gray;
        margin-bottom: 24px;
        font-size: $text-sm;
        font-weight: $font-normal;
      }

      &_summary {
        color: $dark-gray;
        text-align: center;
        font-size: $text-base;
        font-weight: $font-normal;
      }
    }

    .profile-card-contact {
      gap: 24px;
      width: 100%;

      &_contact-me {
        background-color: $blue;
        color: $white;
        font-size: $text-base;
        font-weight: $font-medium;
        border-radius: 4px;
        width: 100%;
        height: 44px;
        cursor: pointer;
      }

      &_contact-me:hover {
        background-color: darken($blue, 10%);
      }

      &_contact-me:focus {
        background-color: darken($blue, 10%);
        outline: 2px solid lighten($blue, 35%);
        outline-offset: 2px;
      }

      &_socials {
        display: flex;
        gap: 16px;
        height: 36px;

        &-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 36px;
          height: 36px;

          img {
            width: 20px;
            height: 20px;
          }
        }

        &-logo:hover {
          background-color: $off-white;
          border-radius: 4px;
        }

        &-logo:focus {
          background-color: $off-white;
          border-radius: 4px;
          outline: 2px solid lighten($blue, 35%);
          outline-offset: 2px;
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}